/* Base */
/* ----------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

strong {
  font-weight: 700;
  color: #1a1a1a; }

html, body, .page-content .pure-g, .page-content .pure-u {
  font-family: "source sans pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #1a1a1a; }

.menu-strip {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0;
  width: 16%;
  padding: 27px;
  box-shadow: 0 0 0 transparent inset;
  overflow-x: hidden;
  overflow-y: scroll; }

.menu-strip {
  background: #22e3eb;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #22e3eb 0%, #f18e40 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(15deg, #22e3eb 0%, #f18e40 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #22e3eb 0%, #f18e40 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #22e3eb 0%, #f18e40 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #22e3eb 0%, #f18e40 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-a', endColorstr='$color-b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

a {
  color: #f18e40; }

a:hover {
  color: #22e3eb; }

a:active {
  color: #12c1c8; }

.backend .menu-strip {
  background: #61ebe5;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #61ebe5 0%, #b5c0eb 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(15deg, #61ebe5 0%, #b5c0eb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #61ebe5 0%, #b5c0eb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #61ebe5 0%, #b5c0eb 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #61ebe5 0%, #b5c0eb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-a', endColorstr='$color-b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
.backend a {
  color: #b5c0eb; }
.backend a:hover {
  color: #61ebe5; }
.backend a:active {
  color: #34e5de; }

.design .menu-strip {
  background: #e7b255;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #e7b255 0%, #d63998 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(15deg, #e7b255 0%, #d63998 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #e7b255 0%, #d63998 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #e7b255 0%, #d63998 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #e7b255 0%, #d63998 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-a', endColorstr='$color-b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
.design a {
  color: #d63998; }
.design a:hover {
  color: #e7b255; }
.design a:active {
  color: #e19e28; }

.frontend .menu-strip {
  background: #45bbd1;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #45bbd1 0%, #e76cc5 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(15deg, #45bbd1 0%, #e76cc5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #45bbd1 0%, #e76cc5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #45bbd1 0%, #e76cc5 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #45bbd1 0%, #e76cc5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-a', endColorstr='$color-b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
.frontend a {
  color: #e76cc5; }
.frontend a:hover {
  color: #45bbd1; }
.frontend a:active {
  color: #2da0b6; }

.html .menu-strip {
  background: #97a2f6;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #97a2f6 0%, #95e974 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(15deg, #97a2f6 0%, #95e974 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #97a2f6 0%, #95e974 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #97a2f6 0%, #95e974 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #97a2f6 0%, #95e974 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-a', endColorstr='$color-b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
.html a {
  color: #95e974; }
.html a:hover {
  color: #97a2f6; }
.html a:active {
  color: #6878f2; }

.deployment .menu-strip {
  background: #e77272;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #e77272 0%, #ee9045 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(15deg, #e77272 0%, #ee9045 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #e77272 0%, #ee9045 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #e77272 0%, #ee9045 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #e77272 0%, #ee9045 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-a', endColorstr='$color-b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
.deployment a {
  color: #ee9045; }
.deployment a:hover {
  color: #e77272; }
.deployment a:active {
  color: #e04646; }

header {
  margin-left: 25%; }
  header .pure-menu-heading.wdw-logo {
    font-family: "crete round";
    text-transform: lowercase;
    font-size: 27px;
    color: #1a1a1a;
    font-weight: 700; }
  header li a {
    color: #555555; }
  header li a:hover {
    color: #1a1a1a; }

.menu-strip a {
  color: white;
  opacity: 0.3;
  text-decoration: none;
  font-family: "source sans pro"; }
.menu-strip a:hover {
  color: white;
  opacity: 0.8;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5); }
.menu-strip ul {
  letter-spacing: 0px;
  width: 200%;
  list-style-type: none;
  padding: 0;
  margin: 0; }

.pure-u {
  padding: 27px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

h1 {
  font-family: "crete round";
  font-size: 54px; }

h2 {
  font-family: "crete round";
  font-size: 36px; }

h3 {
  font-family: "crete round";
  font-size: 18px;
  font-style: italic; }

section {
  margin: 9px 0px;
  padding: 18px 0px; }

.intro {
  font-size: 36px;
  font-weight: 300; }

.intro, p {
  color: #555555; }

.site-header {
  display: none; }

h1 {
  margin-top: 108px; }

.aside {
  color: #999;
  position: absolute;
  left: 75%;
  display: block;
  width: 20%;
  line-height: 18px;
  font-size: 14px;
  font-style: italic;
  border-left: 3px solid #bcbcbc;
  padding: 0px 9px; }

/* When an aside is a div we need to subtract the newline between it and its parent paragraph. */
.aside ul {
  padding: 9px 0px 0px 18px;
  margin: 0px; }

@media (max-width: 870px) {
  .menu-strip {
    width: 27px;
    padding: 0px; }

  .menu-strip-spacer {
    width: 27px;
    padding: 0px; }

  .menu-strip-spacer + div {
    width: -webkit-calc(100% - 27px - 27px); }

  .aside {
    position: static;
    display: inline;
    margin: 0;
    padding: 0;
    border: none; }

  .aside:before {
    content: " [ "; }

  .aside:after {
    content: " ] "; }

  header {
    margin-left: 27px; } }
