<footer>
  <p>Hosted by <a href="//scottylabs.org">ScottyLabs</a>
  <p><a href="{{ "/basics" | prepend: site.baseurl }}">The Basics </a>
    &middot; <a href="{{ "/html" | prepend: site.baseurl }}">HTML & CSS </a>
    &middot; <a href="{{ "/frontend" | prepend: site.baseurl }}">Frontend</a>
    &middot; <a href="{{ "/backend" | prepend: site.baseurl }}">Backend</a>
    &middot; <a href="{{ "/design" | prepend: site.baseurl }}">Design</a>
    &middot; <a href="{{ "/deployment" | prepend: site.baseurl }}">Deployment</a>
</footer>

<script type="text/javascript" charset="utf-8">
  $(".hint").click(function(){ $(this).addClass("is-revealed") } )
</script>
