<header>

  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="{{ site.baseurl }}/" class="pure-menu-heading wdw-logo">wdw</a>
    <ul>
        <li {% if page.subject == "basics" %}class="pure-menu-selected"{% endif %}><a href="{{ "/basics" | prepend: site.baseurl }}">basics</a></li>
        <li><a href="{{ "/html" | prepend: site.baseurl }}">html/css</a></li>
        <li><a href="{{ "/design" | prepend: site.baseurl }}">design</a></li>
        <li><a href="{{ "/frontend" | prepend: site.baseurl }}">frontend</a></li>
        <li><a href="{{ "/backend" | prepend: site.baseurl }}">backend</a></li>
        <li><a href="{{ "/deployment" | prepend: site.baseurl }}">deployment</a></li>
    </ul>
  </div>

</header>
