---
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript" charset="utf-8">
  // JavaScript for _include/footer.html
  $(document).ready(function() {
    $(".hint").click(function(){ $(this).addClass("is-revealed") } )
  });
</script>

<script type="text/javascript" charset="utf-8">
  const monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];
  function getTime() {
    var time = new Date(Date.now());
    var start = new Date("{{site.wdw_start_time}}");
    var month = monthNames[start.getMonth()]
    var period = "AM";
    var hours = start.getHours() > 12 ? (period = "PM") && start.getHours() % 12 : start.getHours();
    var minutes = start.getMinutes() < 10 ? `0${start.getMinutes()}` : start.getMinutes();
    if (time - start < 0) {
      $(".zoom").html(`<span class="aside">The Zoom meeting will open on ${month} ${start.getDate()}, ${start.getFullYear()} at ${hours}:${minutes} ${period}</span><a><button class="zoom disabled" disabled>Link not yet available</button></a>`);
    } else {
      $(".zoom").html('<span class="aside">Meeting ID: 914 9506 3440</span><a href="{{site.zoom_link}}" target="_blank"><button class="zoom">Join us on Zoom</button></a>');
    }
  }
  getTime();
  var t = setInterval(getTime, 1000);
</script>