/* Base */
/* ----------------------------------------------------------*/
/* line 7, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 13, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 17, ../sass/main.scss */
strong {
  font-weight: 700;
  color: #1a1a1a;
}

/* line 22, ../sass/main.scss */
html, body, .page-content .pure-g, .page-content .pure-u {
  font-family: "source sans pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #1a1a1a;
}

/* line 29, ../sass/main.scss */
.menu-strip {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0;
  width: 16%;
  padding: 27px;
  box-shadow: 0 0 0 transparent inset;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 45, ../sass/main.scss */
.menu-strip {
  background: #22E3EB;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #22E3EB 0%, #F18E40 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(15deg, #22E3EB 0%, #F18E40 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #22E3EB 0%, #F18E40 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #22E3EB 0%, #F18E40 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #22E3EB 0%, #F18E40 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-a', endColorstr='$color-b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

/* line 55, ../sass/main.scss */
a {
  color: #F18E40;
}

/* line 58, ../sass/main.scss */
a:hover {
  color: #22E3EB;
}

/* line 61, ../sass/main.scss */
a:active {
  color: #12c1c8;
}

/* line 45, ../sass/main.scss */
.backend .menu-strip {
  background: #61EBE5;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #61EBE5 0%, #B5C0EB 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(15deg, #61EBE5 0%, #B5C0EB 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #61EBE5 0%, #B5C0EB 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #61EBE5 0%, #B5C0EB 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #61EBE5 0%, #B5C0EB 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-a', endColorstr='$color-b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 55, ../sass/main.scss */
.backend a {
  color: #B5C0EB;
}
/* line 58, ../sass/main.scss */
.backend a:hover {
  color: #61EBE5;
}
/* line 61, ../sass/main.scss */
.backend a:active {
  color: #34e5de;
}

/* line 45, ../sass/main.scss */
.design .menu-strip {
  background: #E7B255;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #E7B255 0%, #D63998 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(15deg, #E7B255 0%, #D63998 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #E7B255 0%, #D63998 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #E7B255 0%, #D63998 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #E7B255 0%, #D63998 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-a', endColorstr='$color-b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 55, ../sass/main.scss */
.design a {
  color: #D63998;
}
/* line 58, ../sass/main.scss */
.design a:hover {
  color: #E7B255;
}
/* line 61, ../sass/main.scss */
.design a:active {
  color: #e19e28;
}

/* line 45, ../sass/main.scss */
.frontend .menu-strip {
  background: #45BBD1;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #45BBD1 0%, #E76CC5 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(15deg, #45BBD1 0%, #E76CC5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #45BBD1 0%, #E76CC5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #45BBD1 0%, #E76CC5 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #45BBD1 0%, #E76CC5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-a', endColorstr='$color-b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 55, ../sass/main.scss */
.frontend a {
  color: #E76CC5;
}
/* line 58, ../sass/main.scss */
.frontend a:hover {
  color: #45BBD1;
}
/* line 61, ../sass/main.scss */
.frontend a:active {
  color: #2da0b6;
}

/* line 45, ../sass/main.scss */
.html .menu-strip {
  background: #97A2F6;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #97A2F6 0%, #95E974 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(15deg, #97A2F6 0%, #95E974 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #97A2F6 0%, #95E974 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #97A2F6 0%, #95E974 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #97A2F6 0%, #95E974 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-a', endColorstr='$color-b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 55, ../sass/main.scss */
.html a {
  color: #95E974;
}
/* line 58, ../sass/main.scss */
.html a:hover {
  color: #97A2F6;
}
/* line 61, ../sass/main.scss */
.html a:active {
  color: #6878f2;
}

/* line 45, ../sass/main.scss */
.deployment .menu-strip {
  background: #E77272;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #E77272 0%, #EE9045 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(15deg, #E77272 0%, #EE9045 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #E77272 0%, #EE9045 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #E77272 0%, #EE9045 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #E77272 0%, #EE9045 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-a', endColorstr='$color-b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 55, ../sass/main.scss */
.deployment a {
  color: #EE9045;
}
/* line 58, ../sass/main.scss */
.deployment a:hover {
  color: #E77272;
}
/* line 61, ../sass/main.scss */
.deployment a:active {
  color: #e04646;
}

/* line 89, ../sass/main.scss */
header {
  margin-left: 25%;
}
/* line 92, ../sass/main.scss */
header .pure-menu-heading.wdw-logo {
  font-family: "crete round";
  text-transform: lowercase;
  font-size: 27px;
  color: #1a1a1a;
  font-weight: 700;
}
/* line 100, ../sass/main.scss */
header li a {
  color: #555;
}
/* line 104, ../sass/main.scss */
header li a:hover {
  color: #1a1a1a;
}

/* line 111, ../sass/main.scss */
.menu-strip a {
  color: white;
  opacity: 0.3;
  text-decoration: none;
  font-family: "source sans pro";
}
/* line 117, ../sass/main.scss */
.menu-strip a:hover {
  color: white;
  opacity: 0.8;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
/* line 122, ../sass/main.scss */
.menu-strip ul {
  letter-spacing: 0px;
  width: 200%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 134, ../sass/main.scss */
.pure-u {
  padding: 27px;
}

/* line 138, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

/* line 142, ../sass/main.scss */
h1 {
  font-family: "crete round";
  font-size: 54px;
}

/* line 147, ../sass/main.scss */
h2 {
  font-family: "crete round";
  font-size: 36px;
}

/* line 152, ../sass/main.scss */
h3 {
  margin-top: 36px;
  font-family: "crete round";
  font-size: 18px;
  font-style: italic;
}

/* line 159, ../sass/main.scss */
section {
  margin: 9px 0px;
  padding: 18px 0px;
}

/* line 164, ../sass/main.scss */
h6 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 45px;
}

/* line 170, ../sass/main.scss */
h6, p {
  color: #555;
}

/* line 175, ../sass/main.scss */
.site-header {
  display: none;
}

/* line 180, ../sass/main.scss */
h1 {
  margin-top: 108px;
}

/* line 184, ../sass/main.scss */
.aside {
  color: #999;
  position: absolute;
  left: 75%;
  display: block;
  width: 20%;
  line-height: 18px;
  font-size: 14px;
  font-style: italic;
  border-left: 3px solid #bcbcbc;
  padding: 0px 9px;
}

/* When an aside is a div we need to subtract the newline between it and its parent paragraph. */
/* line 199, ../sass/main.scss */
.aside ul {
  padding: 9px 0px 0px 18px;
  margin: 0px;
}

@media (max-width: 870px) {
  /* line 205, ../sass/main.scss */
  .menu-strip {
    width: 27px;
    padding: 0px;
  }

  /* line 210, ../sass/main.scss */
  .menu-strip-spacer {
    width: 27px;
    padding: 0px;
  }

  /* line 215, ../sass/main.scss */
  .menu-strip-spacer + div {
    width: -webkit-calc(100% - 27px - 27px);
  }

  /* line 219, ../sass/main.scss */
  .aside {
    position: static;
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
  }

  /* line 228, ../sass/main.scss */
  .aside:before {
    content: " [ ";
  }

  /* line 232, ../sass/main.scss */
  .aside:after {
    content: " ] ";
  }

  /* line 236, ../sass/main.scss */
  header {
    margin-left: 27px;
  }
}
/* line 242, ../sass/main.scss */
footer {
  margin-top: 80px;
}
