---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$text: #313131;

$wdw-pink: #DB255E;
$wdw-orange: #F49032;
$wdw-green: #A9CE45;
$wdw-darkpurple: #382A57;
$wdw-lightpurple: #604794;
$wdw-blue: #26AAB7;
$wdw-darkorange: #E0691A;

// Convert Liquid list to Sass list
$wdw-pages: {% for p in site.wdw_pages %}{{ p }},{% endfor %};

$wdw-colors: $wdw-blue, $wdw-lightpurple, $wdw-orange, $wdw-pink,
             $wdw-green, $wdw-darkpurple, $wdw-darkorange;


@import
  "base",
  "pygments-monokai"
;
